<!DOCTYPE html>
<html lang="vi">
    <head>
        <title><%= title%></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/style/index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
    
    <div class="container-fluid">
        <div class="center">
            <h1 class="logo">Bamboo!</h1>
            <div class="enterInput">
                <div class="row">
                    <span class="centering" style="color:#ff0000" id="message"><%=message%></span>
                </div>
                <div class="row">
                    <input class="roomIDInput" type="number" name="roomID" value="" placeholder="Enter Room ID" id="roomID">
                </div>
                <br>
                <div class="row">
                    <button class="ButtonEnter" onclick="enterRoom()">Enter</button>
                </div>
                <br />
                <div class="row">
                    <span class="centering">or</span>
                </div>
                <br />
                <div class="row">
                    <button class="ButtonEnter" onclick="createLobby()">Create a lobby</button>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <a href="#">Terms & Privacy</a>
    </div>
  
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-app.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase-database.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="/javascript/config.js"></script>
    <script>
        var $jq = jQuery.noConflict();

        function enterRoom(){    
            var roomID = document.getElementById('roomID').value;
            console.log('[SENT]'+ roomID);
            $jq.ajax({
                type: 'POST',
                url: '/player/checkRoom',
                dataType: 'json',
                data: {roomID: roomID},
                success: function(data) {
                    // var roomJSON = $jq.parseJSON(data);
                    console.log(data.statusRoom);
                    // statusRoom = 1 if room existed, otherwise 0 
                    if(data.statusRoom){
                        window.location.href='/player/joinRoom?roomID='+roomID;
                    }else{
                        document.getElementById('message').innerHTML = 'Room not found!';
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    // alert(xhr.status);
                    // alert(thrownError);
                }
            });
        }
        function createLobby(){
            // Check user signed-in
            firebase.auth().onAuthStateChanged(function(user) {
                if (user && !user.isAnonymous) {

                    var uid = user.uid;

                    // console.log('[DEBUG] user info:');
                    console.log(user.uid);

                    $jq.ajax({
                        type: 'POST',
                        url: '/newLobby',
                        dataType: 'json',
                        data: {uid: uid},
                        success: function(data) {
                            if (data.status != "OK") {
                                alert("Failed: Create a new lobby! Try again.");
                            }
                            else {
                                window.location.href = "/lobby/"  + data.roomID;
                            }
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                        }
                    }); // End of AJAX

                } else {
                    // User is signed out.
                    alert("You have not signed-in yet :(");
                    // Redirect to authen
                    window.location.href = '/authen';
                // ...
                }
            });
            
        }
    </script>

    </body>
</html>