<!DOCTYPE html>
<html lang="vi">
    <head>
        <title><%=title%></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/style/index.css">
    </head>
    <body>
    
    <div class="container-fluid">
        <div class="center">
            <h1 class="logo">Bamboo!</h1>
            <div class="enterInput">
               <form action="/authen" method="post">
                <div class="row">
                    <input id="username" class="roomIDInput" type="text" name="username" value="" placeholder="User name or Email">
                </div>
                <div class="row">
                    <input id="password" class="roomIDInput" type="password" name="password" value="" placeholder="password">
                </div>
                <div class="row">
                    <!-- <button class="ButtonEnter" onclick="authen()">Sign in</button> -->
                    <input type="submit" name="Submit" value="submit" class="ButtonEnter">
                </div>
                </form>
                <br />
                <div class="row">
                    <span class="centering"><%=message%></span>
                </div>
                <br />
                <div class="row">
                    <button class="ButtonEnter" onclick="createLobby()">Login with Google</button>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <a href="#">Terms & Privacy</a>
    </div>

    <script>

    </script>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
